* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30%;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 24px;
    align-items: center;
    padding: 20px;
}

header a {
    color: #e5e7eb;
    text-decoration: none;
}

footer {
    background-color: #1f2937;
    color: white;
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 32px 0;

}


.hero-section {
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:55px;
    padding: 120px 0;
}

.hero-text {
    width:450px;
    padding: 15px;
}

.hero-text h1 {
    font-size: 48px;
    font-weight: 600;
    color: #f9faf8;
}

.hero-text p {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-text button {
    background-color: #3882f6;
    color:white;
    font-weight: bold;
    padding: 12px 35px;
    border-radius: 10px;
    border: 0;
}

.hero-text h1, p, button {
    margin-bottom: 18px;
}

.hero-image p {
    width: 523px;
    height: 239px;
    background-color: gray;
    color:white;
    display:flex;
    justify-content: center;
    align-items: center;
}


.information-section {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex:1;
}

.information-section h2 {
    font-size: 36px;
    color: #1f2937;
    font-weight: bold;
    margin: 60px auto;
}

.information-items {
    display: flex;
    gap: 50px;
    margin-bottom: 120px;
}

.information-items .single-item {
    width: 173px;
    text-align: center;
}

.information-items .single-item .single-item-image {
    border: 3px solid blue;
    border-radius: 10px;
    height: 160px;
    width: 165px;
}


.quote-section {
    background-color: #e5e7eb;
    padding: 40px;
    padding: 140px 0;
    margin: auto;
}

.quote-section .quote-text  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote-section .quote-text .quote {
    max-width: 800px;
    font-size: 36px;
    color: #1f2937;
    text-align: justify;
    font-weight: lighter;
    font-style: italic;

}

.quote-section .quote-text .author {
    font-size: 24px;
    font-weight: bold;
}

.signup-section {
    background-color: #3882f6;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 160px;
    padding: 55px 120px;
    margin: 100px 200px;
    border-radius: 10px;
}

.signup-section-text h3 {
    color: #f9faf8;
}

.signup-section-text p {
    color: #e5e7eb;
}

.signup-section button {
    background-color: #3882f6;
    color: #f9faf8;
    border: 2px solid #f9faf8;
    border-radius: 8px;
    padding: 10px 36px;
    font-weight: bold;
}

